@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.profile-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px; /* Ограничить ширину профиля */
  margin: auto; /* Центрировать профиль */
  padding: 2rem; /* Отступы внутри профиля */
  background-color: rgb(205, 235, 255); /* Фоновый цвет */
  border-radius: 20px; /* Скругление углов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для объема */
  margin-top: 3%;
  font-family: "Nunito", sans-serif;
}

.avatar-img {
  border: 2px solid #ddd; /* Рамка вокруг аватара */
  width: 120px; /* Ширина аватара */
  height: 120px; /* Высота аватара */
  border-radius: 50%; /* Круглая форма аватара */
  object-fit: cover; /* Корректное отображение изображения */
  margin-bottom: 1rem; /* Отступ снизу */
}

section {
  text-align: center; /* Центрирование текста */
}

p {
  font-size: 1rem;
  margin: 0.5rem 0; /* Отступы сверху и снизу */
}

.button-edit {
  display: inline-block;
  background-color: #007bff; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  padding: 0.5rem 1rem; /* Внутренние отступы */
  border: none; /* Убрать стандартные границы кнопки */
  border-radius: 5px; /* Скругление углов */
  cursor: pointer; /* Курсор указывает на кликабельность */
  margin-top: 1rem; /* Отступ сверху */
  font-size: 0.875rem; /* Размер шрифта */
  font-family: "Nunito", sans-serif;
}

.button-edit:hover {
  background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

.button-logout {
  background-color: red;
  font-family: "Nunito", sans-serif;
  padding: 0.5%;
  font-size: 20px;
  border-radius: 7px;
  border-style: double;
}
.button-logout:hover {
  background-color: rgb(218, 0, 0);
  color: white;
  transition: 0.5s ease-in-out;
  border-color: white;
}




.form-profile {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  width: 80%;
  max-width: 600px; /* Ограничить ширину формы для больших экранов */
  margin: auto; /* Центрирование формы на странице */
  padding: 2rem; /* Отступы внутри формы */
  background-color: rgb(205, 235, 255); /* Фоновый цвет */
  border-radius: 20px;
  margin-top: 3%;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar-label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.avatar-label:hover{
  color: #ddd;
}

.avatar-input {
  display: none;
}

.avatar-preview {
  border: 2px solid #ddd;
  width: 120px; /* Ширина аватара */
  height: 120px; /* Высота аватара */
  border-radius: 50%; /* Сделать аватар круглым */
  object-fit: cover;
  margin-top: 0.5rem;
}

.avatar-upload-button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

.avatar-upload-button:hover {
  background-color: #0056b3;
}

input[type="text"],
textarea {
  font-size: 0.875rem; /* Размер шрифта */
  border-radius: 5px;
  display: block;
  margin: 1% auto; /* Центрировать поля формы */
  font-family: "Nunito", sans-serif;
  max-width: 400px;
}

input[type="text"] {
  height: 40px;
  padding: 0.5rem;
  width: calc(100% - 2rem); /* Ширина с учетом отступов */
  border-color: transparent;
}

input[type="date"]{
  height: 40px;
  padding: 0.5rem;
  width: calc(100% - 2rem); /* Ширина с учетом отступов */
  font-size: 16px;
  border-radius: 5px;
  border-color: transparent;
  font-family: "Nunito", sans-serif;

}

textarea {
  min-height: 100px;
  max-width: calc(100% - 2rem); /* Ширина с учетом отступов */
  padding: 0.5rem;
  max-width: 500px;

}

input[type="text"]:hover {
  background-color: rgb(237, 237, 237);
  transition: 0.3s ease-in-out;
}

.button-save {
  padding: 0.75rem 1.5rem;
  background-color: rgb(47, 255, 0);
  border-radius: 15px;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  border: none; /* Убрать стандартные границы */
  color: white; /* Цвет текста */
  cursor: pointer; /* Курсор указывает на кликабельность */
  transition: background-color 0.5s ease-in-out; /* Плавный переход фона */
}

.button-save:hover {
  background-color: rgb(0, 198, 0);
}
